<h1> </h1>
{% include "coreApp/base.html" %}

{% load static %}

{% block content %}

<style>


    body{


        background-color: white;

    }



</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">

            <i class="text-danger fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>

            <br> <br>


            <h5> <strong> YOU NO GET MONET! </strong> </h5>

            <hr>

            <p> Your order was not processed. </p>


        </div>


    </div>


</body>


{% endblock %}













